body { font-family: "Metrophobic", sans-serif; margin: 0; background-color: #dbc8c8; }

.contactForm { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; width: 80vw; max-width: 400px; border: 2px solid #d15d5d; border-radius: 15px; margin: 10px auto; padding: 10px; background-color: #f3e3e3; }

.contactForm input { width: 80%; height: 30px; border-radius: 15px; border: 2px solid #f09191; padding-left: 20px; margin: 10px auto; outline: none; }

.contactForm button { width: 35%; border: none; height: 30px; border-radius: 15px; background-color: #f09191; color: white; margin: 10px auto; }

.contactForm button:hover { border: 2px solid #d15d5d; background-color: #d15d5d; }

ul { margin: 0; padding: 0; width: 100%; }

.contactsList { width: 90vw; max-width: 600px; margin: 10px auto; padding: 0; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.contactsList .contactItem { width: 90%; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; border: 2px solid #797676; border-radius: 15px; margin: 10px; background-color: #bbb6b6; }

.contactsList .contactItem img.contactImage { margin: 20px; width: 120px; height: 120px; }

.contactsList .contactItem .label { border: 2px solid #797676; border-radius: 15px; margin: 10px; padding: 10px; background-color: #e6dfdf; min-width: 50%; }

.contactsList .contactItem .label p.contactLabel { text-align: left; font-size: 18px; margin: 5px; }

.contactsList .contactItem .label a { font-size: 16px; text-decoration: none; color: #797676; margin: 5px; }
